# Create a nested dictionary containing marks obtained in five courses taken across two semesters. Calculate the grade point obtained in each of the two semesters.

In [5]:
def sum(d):
  s = 0 
  for i in d.values():
    s += i
  return s

# Taking input

In [2]:
dict ={}
First_Sem = {}
Second_Sem = {}
s = int(input("Enter the number of subject in 1st Sem : "))
for i in range(s):
    a = input("Subject in 1st sem : ")
    b = float(input(f"Number in {a} in 1st sem : "))
    First_Sem[a] = b
t = int(input("Enter the number of subject in 2nd Sem : "))
for i in range(t):
    a = input("Subject in 2nd sem : ")
    b = float(input(f"Number in {a} in 2nd sem : "))
    Second_Sem[a] = b
dict["First Sem"] = First_Sem
dict["Second Sem"] = Second_Sem

Enter the number of subject in 1st Sem : 5
Subject in 1st sem : CN
Number in CN in 1st sem : 96
Subject in 1st sem : DM
Number in DM in 1st sem : 76
Subject in 1st sem : CL
Number in CL in 1st sem : 72
Subject in 1st sem : PS
Number in PS in 1st sem : 100
Subject in 1st sem : DFS
Number in DFS in 1st sem : 80
Enter the number of subject in 2nd Sem : 5
Subject in 2nd sem : IR
Number in IR in 2nd sem : 61
Subject in 2nd sem : DAA
Number in DAA in 2nd sem : 71
Subject in 2nd sem : DBMS
Number in DBMS in 2nd sem : 72
Subject in 2nd sem : FODS
Number in FODS in 2nd sem : 70
Subject in 2nd sem : ML
Number in ML in 2nd sem : 65

In [3]:
print(dict)

{'First Sem': {'CN': 96.0, 'DM': 76.0, 'CL': 72.0, 'PS': 100.0, 'DFS': 80.0}, 'Second Sem': {'IR': 61.0, 'DAA': 71.0, 'DBMS': 72.0, 'FODS': 70.0, 'ML': 65.0}}

# Calculation

In [6]:
Total_First_Sem = sum(dict['First Sem'])
Total_Second_Sem = sum(dict['Second Sem'])
First_Sem_grade_point = Total_First_Sem / len(dict["First Sem"])
Second_Sem_grade_point = Total_Second_Sem / len(dict["Second Sem"])
Total_grade = (Total_First_Sem + Total_Second_Sem) / (len(dict["First Sem"]) + len(dict["Second Sem"]))

# Output

In [7]:
print(Total_First_Sem)
print(Total_Second_Sem)

424.0
339.0

In [8]:
print(f"Grade Point in First Sem is {First_Sem_grade_point}")
print(f"Grade Point in Second Sem is {Second_Sem_grade_point}")
print(f"Grade Point in Two Sem is {Total_grade}")

Grade Point in First Sem is 84.8
Grade Point in Second Sem is 67.8
Grade Point in Two Sem is 76.3