# 3.	Calculate the total cost for a pay-as-you-go service availed based on the number of days and additional hours. The timestamp is taken in ‘dd-mm-yyyy hh:mm:ss’ format. There is a staring timestamp and an ending timestamp. Calculate the number of days and hours elapsed between the two timestamps. The chargeable amount for the service needs to be calculated. The following is the tariff details: 

  1 Day (i.e. 24 hours): Rs 23; 
  1 hour: Rs 1

In [1]:
def leapyear(year):
    return (year % 4 == 0 and year % 100 != 0) or year % 400 == 0

In [2]:
start_date, start_time = input("Start timestamp:").split()
end_date, end_time = input("End timestamp:").split()

Start timestamp:20-03-2022 20:15:36
End timestamp:21-04-2022 02:14:37

In [3]:
day1, mon1, year1 = map(int,start_date.split('-'))
hour1, min1, sec1 = map(int, start_time.split(':'))
day2, mon2, year2 = map(int, end_date.split('-'))
hour2, min2, sec2 = map(int, end_time.split(':'))
print(f"end : {sec2} sec {min2} min {hour2} hour {day2} day {mon2} month {year2} year")
print(f"start : {sec1} sec {min1} min {hour1} hour {day1} day {mon1} month {year1} year")

end : 37 sec 14 min 2 hour 21 day 4 month 2022 year
start : 36 sec 15 min 20 hour 20 day 3 month 2022 year

In [4]:
if sec2 >= sec1:
    sec = sec2 - sec1
else:
    sec = sec2 + 60 - sec1
    mon1 = mon1 + 1

In [5]:
if min2 >= min1:
    min = min2 - min1
else:
    min = min2 + 60 - min1
    hour1 = hour1 + 1

In [6]:
if hour2 >= hour1:
    hour = hour2 - hour1
else:
    hour = hour2 + 24 - hour1
    day1 = day1 + 1

In [7]:
day_count = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
if day2 >= day1:
    day = day2 - day1
else:
    if mon1 != 2:
        day = day2 + day_count[mon1 + 1] - day1
    else:
        if leapyear(year1):
            day = day2 + 29 - day1
        else:
            day = day2 + 28 - day1
    
    mon1 = mon1 + 1

In [8]:
day_mon = 0
if mon2 >= mon1:
    mon = mon2 - mon1
    for i in range (mon1, mon2):
        day_mon += day_count[i + 1]
    if mon1 < 3 and leapyear(year1):
        day_mon += 1
else:
    mon = mon2 + 12 - mon1
    for i in range (mon1, 13):
        day_mon += day_count[i + 1]
    for i in range(mon2):
        day_mon += day_count[i + 1]
    if mon1 < 3 and leapyear(year1):
        day_mon += 1
    if mon2 > 2 and leapyear(year2):
        day_mon += 1
    year1 = year1 + 1

In [9]:
day_year = 0
year = year2 - year1
for i in range (year1, year2):
    if leapyear(i):
        if (i == year1 and mon1 < 3) or (i == year2 and mon2 > 3):
            day_year += 366
        else:
            day_year += 365
    else:
        day_year += 365

In [10]:
total_day = day + day_mon + day_year
if sec + min > 0:
    hour += 1
if hour == 24 :
    hour = 0
    total_day += 1
pay = total_day * 23 + hour * 1

In [11]:
print(f"Chargeable amount: Rs {pay}")

Chargeable amount: Rs 719